# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_API_KEY=API4QGU6iCnmcCB
LIVEKIT_API_SECRET=lXFWB2p00fVBTGTTHeeHnFMhQMCvPKJYTf36J64vVdkB
LIVEKIT_URL=wss://voiceagents-l3gqm8m2.livekit.cloud


# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
